<div class="container large-width text-center site-footer-contact">
    <div class="site-footer-contact-item">
        <h3>Luna On Pine</h3>
        <p><a href="https://www.google.com/maps?cid=318913260313037088&hl=en&_ga=2.8123956.76779238.1528829484-1841187704.1528829484" target="_blank">4000 Pine St,<br> Philadelphia, PA 19104</a></p>
    </div>
    <div class="site-footer-contact-item">
        <img src="images/logo-icon.svg" alt="Luna Icon"><br><br>
    </div>
    <div class="site-footer-contact-item">
        <h3>Equinox Leasing</h3>
        <p><a href="https://www.google.com/maps/search/3939+chestnut+st/@39.9558718,-75.2039729,17z/data=!3m1!4b1" target="_blank">3939 Chestnut Street, Lobby <br> Philadelphia, PA 19104</a></p>
    </div>
</div>

<div class="container text-center site-footer-logo">
    <a href="http://www.equinoxmc.com/">
        <img src="images/equinox-logo.png" alt="Equinox Logo" target="_blank">
    </a>
    <a href="https://www.hud.gov/program_offices/fair_housing_equal_opp" target="_blank">
        <img src="images/Equal-Housing-Opportunity.png" alt="Equal Housing Opportunity Logo">
    </a>
    <br><br>
    <p>Copyright © 2018 | Site By <a class="underline" href="https://cohere.city/" target="_blank">Cohere</a></p>
</div>
