<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="{{ '/assets/js/plugins.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>

<script>
    
    // APARTMENTS TABS
    function apartmentTab(evt, apartmentName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("apartment-content");
        for (i=0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("apartment-tab-link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(apartmentName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
