<div class="site-hero">
    <div class="site-hero-grid">
        <div class="grid-left">
            <div class="grid-item grid-img" style="background-image: url('images/luna-tenant-onBed.jpg');" alt="Study at Luna on Pine">
                
            </div>
            <div class="grid-item grid-item-gallery grid-copy">
                {% for hero_slider in page.hero_sliders %}
                <div class="grid-item-gallery-cell">
                    <h4>{{ hero_slider.hero_slider_title }}</h4>
                    <h3>{{ hero_slider.hero_slider_body }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="grid-right">
            <div class="grid-top">
                {% if page.hero_cta %}
                <div class="grid-item grid-copy">
                    <h2>{{ page.hero_cta.hero_cta_callout }}</h2>
                    <div class="btn">
                        <a href="mailto:rentals@equinoxmc.com?subject=Luna on Pine - Website Leasing Inquiry">Check Availability</a>
                    </div>
                </div>
                {% endif %}
                <div class="grid-item grid-img" style="background-image: url('images/luna-bike.png');" alt="Bike to class at Luna on Pine">
                    
                </div>
            </div>
            <div class="grid-item grid-img">
                <div class="grid-item-img-gallery">
                    {% for hero_sliders in page.hero_slider %}
                    <div class="grid-item-img-gallery-cell" style="background-image: url('{{ hero_slider.hero_slider_body }}');" alt="Luna living room render">
                    </div>
                    {% endfor %}
                    <!-- <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna_ClubRoom.jpg');" alt="Luna desk space">
                    </div>
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna-exterior.jpg');" alt="Luna exterior render">
                    </div>
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna-bed.jpg');" alt="Luna on Pine bedroom">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
