<div class="site-hero">
    <div class="site-hero-grid">
        <div class="grid-left">
            <div class="grid-item grid-img" style="background-image: url('images/luna-tenant-onBed.jpg');" alt="Study at Luna on Pine">
                
            </div>
            <div class="grid-item grid-item-gallery grid-copy">
                <div class="grid-item-gallery-cell">
                    <h4>Find Clarity</h4>
                    <h3>Private, peaceful apartments to focus or relax in.</h3>
                </div>
                <div class="grid-item-gallery-cell">
                    <h4>Find Community</h4>
                    <h3>Shared amenity spaces for a brighter social life.</h3>
                </div>
                <div class="grid-item-gallery-cell">
                    <h4>Find Everything Else</h4>
                    <h3>A vibrant location in the core of University City.</h3>
                </div>
                <div class="grid-item-gallery-cell">
                    <h4>Lease Today</h4>
                    <h3>Now accepting reservations for August 2018 move-ins.</h3>
                </div>
            </div>
        </div>
        <div class="grid-right">
            <div class="grid-top">
                <div class="grid-item grid-copy">
                    <h2>Apartments for the<br /> next phase in life</h2>
                    <div class="btn">
                        <a href="mailto:rentals@equinoxmc.com?subject=Luna on Pine - Website Leasing Inquiry">Check Availability</a>
                    </div>
                </div>
                <div class="grid-item grid-img" style="background-image: url('images/luna-bike.png');" alt="Bike to class at Luna on Pine">
                    
                </div>
            </div>
            <div class="grid-item grid-img">
                <div class="grid-item-img-gallery">
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna-living-room.jpg');" alt="Luna living room render">
                    </div>
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna_ClubRoom.jpg');" alt="Luna desk space">
                    </div>
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna-exterior.jpg');" alt="Luna exterior render">
                    </div>
                    <div class="grid-item-img-gallery-cell" style="background-image: url('images/luna-bed.jpg');" alt="Luna on Pine bedroom">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
