<div class="content-container amenity nav-sec" id="amenity">
           
    <div class="container community">
       
        <div class="container large-width">
            <div class="intro-img-hold">
             <img src="images/luna-tenants-cooking.jpg" alt="Luna Tenant Looking Back">
            </div>
            
            <div class="intro-text-copy">
                <h2>Find Community</h2>
                <h6>Amenities</h6>
                <p>Home to the next generation of doctors, lawyers, and generally awesome individuals, Luna’s amenity spaces foster the kind of collaboration that will change tomorrow. And for the times when you’d rather do your own thing, there’s always a cozy spot to sneak off to.</p>
             
            </div>
        </div>
        <div class="alternate-bg large-width"></div>
        
    </div>
    
    <div class="container">
        <div class="amenity-slide">
            <div class="amenity-slide-gallery">
                <div class="amenity-slide-gallery-item" style="background-image: url('images/luna_ClubRoom.jpg');"></div>
                <div class="amenity-slide-gallery-item" style="background-image: url('images/luna-amenities-rooftop.png');"></div>
                <div class="amenity-slide-gallery-item" style="background-image: url('images/luna-amenities-flex.png');"></div>
                <div class="amenity-slide-gallery-item" style="background-image: url('images/luna-amenities-event.jpg');"></div>
            </div>
            <div class="amenity-slide-copy">
                <div class="amenity-slide-copy-item">
                   <h3>The Nook</h3>
                    <p><span>01/04</span></p>
                    <p>Luna’s community club room, The Nook is home to amenities like a fitness studio, wet bar, game bar, fireplace, and more. Get ready to focus on your mind, body, and social life.</p>
                </div>
                <div class="amenity-slide-copy-item">
                   <h3>Rooftop Terrace</h3>
                    <p><span>02/04</span></p>
                    <p>Outdoor space in the city! Grab some fresh air, lounge in the grass, find a shady reading spot, or take in Philadelphia’s skyline after a full day.</p>
                </div>
                <div class="amenity-slide-copy-item">
                   <h3>Flex Space</h3>
                    <p><span>03/04</span></p>
                    <p>The ideal place to study, read, or relax with friends—these private rooms are quiet, available 24/7, and conveniently located on every floor.</p>
                </div>
                   <div class="amenity-slide-copy-item">
                   <h3>Curated Events</h3>
                    <p><span>04/04</span></p>
                    <p>More experiences by Luna, more fun for you. Enjoy some me time cooking demos, rooftop yoga, movie nights, and other community events.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container large-width text-center other-amenity">
     <h6 id='other-amenity-heading' >Other Amenities</h6>

        <div id="other-amenities-container">
             <div class="svg-column" id="svg-column-1">
                 <svg id="grill" data-name="grill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.64 50.45">
                     <title>grill</title>
                     <path class="svg-stroke" d="M152.82,4513.3a19.32,19.32,0,1,0,38.64,0H152.82Z" transform="translate(-152.32 -4500.96)" style="fill:none;stroke-miterlimit:10"/>
                     <line id="middleSmoke" class="grillSmoke svg-stroke" x1="20.16" y1="7.17" x2="20.16" y2="0.5" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                     <line id="rightSmoke" class="grillSmoke svg-stroke" x1="27.28" y1="7.17" x2="27.28" y2="2.36" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                     <line id="leftSmoke" class="grillSmoke svg-stroke" x1="12.59" y1="7.17" x2="12.59" y2="2.36" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                     <line class="svg-stroke" x1="15.61" y1="31.35" x2="8.64" y2="49.95" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                     <line class="svg-stroke" x1="24.76" y1="31.35" x2="31.74" y2="49.95" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                     <line class="svg-stroke" x1="12.49" y1="39.85" x2="27.96" y2="39.85" style="fill:none;stroke-linecap:round;stroke-miterlimit:10"/>
                 </svg>

                 <svg id="utensils" data-name="utensils" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.15 43.49">
                     <title>utensils</title>
                     <path class="svg-stroke" id="topHang" d="M214,4710.6l-74.64-.13V4708a5.7,5.7,0,0,1,5.69-5.69h0l63.26,0.11a5.7,5.7,0,0,1,5.69,5.7v2.52Zm-74.19-.58,73.73,0.13v-2.07a5.24,5.24,0,0,0-5.23-5.25l-63.25-.11h0a5.24,5.24,0,0,0-5.24,5.23V4710Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
         
                     <g id="utensil0">
                         <path class="svg-stroke" d="M157.15,4745h-4.25a4.42,4.42,0,0,1-4.42-4.43v-3.1a4.43,4.43,0,0,1,4.42-4.42h4.25a4.42,4.42,0,0,1,4.42,4.43v3.1A4.42,4.42,0,0,1,157.15,4745Zm-4.24-11.5a4,4,0,0,0-4,4v3.1a4,4,0,0,0,4,4h4.25a4,4,0,0,0,4-4v-3.1a4,4,0,0,0-4-4h-4.25Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M156.44,4733.45h-2.81v-5.22h2.81v5.22Zm-2.35-.46H156v-4.3H154.1v4.3Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke svg-fill" x="152.1" y="4708.14" width="5.92" height="20.24" rx="2.96" ry="2.96" transform="translate(-130.93 -4702.28) rotate(0.1)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M156.65,4728.62h-3.2a1.59,1.59,0,0,1-1.59-1.59l0-17.52a1.59,1.59,0,0,1,1.59-1.59h3.2a1.59,1.59,0,0,1,1.59,1.59l0,17.52A1.59,1.59,0,0,1,156.65,4728.62Zm0-.46h0a1.13,1.13,0,0,0,1.13-1.13l0-17.52a1.13,1.13,0,0,0-1.13-1.13h-3.2a1.13,1.13,0,0,0-1.13,1.13l0,17.52a1.13,1.13,0,0,0,1.13,1.13h3.2Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="150.01" y="4739.79" width="3.5" height="0.46" transform="translate(-4727.61 180.5) rotate(-89.89)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="152.2" y="4738.88" width="5.33" height="0.46" transform="translate(-4723.61 182.7) rotate(-89.89)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="156.36" y="4739.8" width="3.5" height="0.46" transform="translate(-4721.28 186.87) rotate(-89.89)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="154.77" y="4721.31" width="0.46" height="6.09" transform="translate(-4708.68 169.03) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="154.79" y="4712.03" width="0.46" height="6.09" transform="translate(-4699.37 160.12) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="154.79" y="4710.5" width="0.46" height="6.09" transform="translate(-4697.85 158.26) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>		
                     </g>
         
                     <g id="utensil1">
                         <path class="svg-stroke" d="M178.28,4733.49h-2.81v-5.22h2.81v5.22Zm-2.35-.46h1.89v-4.3h-1.89v4.3Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke svg-fill" d="M174.76,4728.31a1.36,1.36,0,0,1-.83-1.26l0-17.52a1.36,1.36,0,0,1,1.36-1.36h3.2a1.36,1.36,0,0,1,1.36,1.36l0,17.52a1.36,1.36,0,0,1-1.36,1.36h-3.2a1.36,1.36,0,0,1-.53-0.11" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M178.48,4728.65h-3.2a1.58,1.58,0,0,1-.62-0.13h0a1.59,1.59,0,0,1-1-1.47l0-17.52a1.59,1.59,0,0,1,1.59-1.59h3.2a1.59,1.59,0,0,1,1.59,1.59l0,17.52A1.59,1.59,0,0,1,178.48,4728.65Zm-3.64-.55a1.14,1.14,0,0,0,.44.09h3.2a1.13,1.13,0,0,0,1.13-1.13l0-17.52a1.13,1.13,0,0,0-1.13-1.13h-3.2a1.13,1.13,0,0,0-1.13,1.13l0,17.52a1.13,1.13,0,0,0,.69,1h0Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="176.61" y="4721.35" width="0.46" height="6.09" transform="translate(-4686.92 190.9) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="176.63" y="4712.06" width="0.46" height="6.09" transform="translate(-4677.62 181.65) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="176.52" y="4710.54" width="0.46" height="6.09" transform="translate(-4676.21 180.02) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M177,4745h0a6,6,0,0,1,0-12h0A6,6,0,0,1,177,4745Zm0-11.53a5.51,5.51,0,0,0,0,11h0a5.51,5.51,0,0,0,0-11h0Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M180,4737.79a2.34,2.34,0,0,0-1.46-1.46l0.16-.47a2.84,2.84,0,0,1,1.77,1.78Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                     </g>
         
                     <g id="utensil2">
                         <path class="svg-stroke" d="M199.28,4733.53h-2.81v-5.22h2.81v5.22Zm-2.35-.46h1.89v-4.3h-1.89v4.3Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke svg-fill" d="M195.76,4728.35a1.36,1.36,0,0,1-.83-1.26l0-17.52a1.36,1.36,0,0,1,1.36-1.36h3.2a1.36,1.36,0,0,1,1.36,1.36l0,17.52a1.36,1.36,0,0,1-1.36,1.36h-3.2a1.36,1.36,0,0,1-.53-0.11" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M199.48,4728.69h-3.2a1.58,1.58,0,0,1-.62-0.13h0a1.59,1.59,0,0,1-1-1.47l0-17.52a1.59,1.59,0,0,1,1.59-1.59h3.2a1.59,1.59,0,0,1,1.59,1.59l0,17.52A1.59,1.59,0,0,1,199.48,4728.69Zm-3.64-.55a1.14,1.14,0,0,0,.44.09h3.2a1.13,1.13,0,0,0,1.13-1.13l0-17.52a1.13,1.13,0,0,0-1.13-1.13h-3.2a1.13,1.13,0,0,0-1.13,1.13l0,17.52a1.13,1.13,0,0,0,.69,1h0Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="197.61" y="4721.38" width="0.46" height="6.09" transform="translate(-4665.98 212.29) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="197.63" y="4712.1" width="0.46" height="6.09" transform="translate(-4656.69 202.69) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <rect class="svg-stroke" x="197.52" y="4710.58" width="0.46" height="6.09" transform="translate(-4655.27 201.4) rotate(-89.9)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M199.94,4737.49a2.34,2.34,0,0,0-1.46-1.46l0.16-.47a2.84,2.84,0,0,1,1.77,1.78Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>
                         <path class="svg-stroke" d="M197.78,4745.26h-0.07a3.55,3.55,0,0,1-2.52-1.25,7.56,7.56,0,0,1-1.7-7.74,4.42,4.42,0,0,1,4.29-3.1h0a4.58,4.58,0,0,1,4.31,3,7.91,7.91,0,0,1-1.69,7.87A3.83,3.83,0,0,1,197.78,4745.26Zm0-11.61a3.94,3.94,0,0,0-3.82,2.76,7,7,0,0,0,1.59,7.26,3.08,3.08,0,0,0,2.17,1.1,3.37,3.37,0,0,0,2.38-1.09,7.38,7.38,0,0,0,1.58-7.34,4,4,0,0,0-3.85-2.69h0Z" transform="translate(-139.06 -4702.02)" style="stroke-miterlimit:10;stroke-width:0.375px;"/>	
                     </g>
         
                 </svg>
             </div>

             <div class="amenities-column">
                 <p>ROOFTOP GRILLS</p>
                 <p>FITNESS CENTER</p>
                 <p>SECURE LOBBY</p>
                 <p>MAIL ROOM</p>
                 <p>LUNA KITCHEN</p>
             </div>

             <div class="svg-column" id="svg-column-2">
                 <svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="104.812 197.567 72.426 45.318">
                     <defs>
                         <style>
         
         
                             .cls-1m, .cls-2m, .cls-3m {
         
                                 stroke-miterlimit: 10;
                                 stroke-width: 0.75px;
                             }
         
                         </style>
                     </defs>
                     <g id="mail" transform="translate(104.81 197.57)">
                         <g id="backMail">
                             <path id="outsideRim" class="cls-1m svg-stroke svg-fill" d="M.38,24.42V44.94H39.23V24.42"/>
                             <line id="bottomLine" class="cls-1m svg-stroke svg-fill" x2="12.02" transform="translate(13.93 26.57)"/>
         
                             <path id="foldOver" class="cls-1m svg-stroke svg-fill" d="M.19,24.74,19.84,13.36l19.6,11.38"/>
                             <line id="leftLine" class="cls-1m svg-stroke svg-fill" x1="15.84" y1="8.37" transform="translate(0.59 24.74)"/>
                             <line id="rightLine" class="cls-1m svg-stroke svg-fill" x1="14.84" y2="8.14" transform="translate(24.2 24.74)"/>
                             <path id="foldUp" class="cls-1m svg-stroke svg-fill" d="M.46,44.94,19.99,34.13,39.14,44.89"/>
                             <line id="topLine" class="cls-1m svg-stroke svg-fill" x2="16.49" transform="translate(12.12 23.38)"/>
         
                         </g>
                         <g id="frontMail">
                             <path id="outsideRim-1" data-name="outsideRim" class="cls-2m svg-fill svg-stroke" d="M33.18,11.49V32.01H72.03V11.49"/>
                             <line id="bottomLine-1" data-name="bottomLine" class="cls-1m svg-stroke svg-fill" x2="12.02" transform="translate(46.73 13.64)"/>
                             <line id="leftLine-1" data-name="leftLine" class="cls-1m svg-stroke svg-fill" x1="15.83" y1="8.38" transform="translate(33.4 11.81)"/>
                             <line id="rightLine-1" data-name="rightLine" class="cls-1m svg-stroke svg-fill" x1="14.84" y2="8.14" transform="translate(57 11.81)"/>
                             <path id="foldUp-1" data-name="foldUp" class="cls-1m svg-stroke svg-fill" d="M33.26,32.01,52.8,21.21,71.94,31.96"/>
                             <path id="foldOver-1" data-name="foldOver" class="cls-2m svg-fill svg-stroke" d="M32.99,11.81,52.65.43,72.24,11.81"/>
                             <path id="topLine-1" data-name="topLine" class="cls-3m svg-stroke" d="M0,0H16.305" transform="translate(44.92 10.45)"/>
                         </g>
                     </g>
                 </svg>
             </div>

             <div class="amenities-column">
                 <p>PRIVATE STORAGE</p>
                 <p>FIRE PITS</p>
                 <p>PACKAGE LOCKERS</p>
                 <p>CONFERENCE ROOMS</p>
                 <p>ROOFTOP TERRACE</p>
                 <p>THE NOOK</p>
             </div>

             <div class="svg-column" id="svg-column-3">
                 <svg id="fireplace" xmlns="http://www.w3.org/2000/svg" viewBox="593.511 80.511 51.488 39.368">
                     <defs>
                         <style>
                             .cls-1f {
                                 fill: none;
                             }
         
                             .cls-1f, .cls-3f {
                                 stroke-miterlimit: 10;
                                 stroke-width: 0.75px;
                             }
                         </style>
                     </defs>
                     <g id="tru" transform="translate(593.51 80.51)">
                         <rect id="sides" class="cls-1f svg-stroke" width="45.57" height="30.01" transform="translate(2.96 4.72)"/>
                         <g id="fire">
                             <g id="flameB">
                                 <path id="B" class="svg-stroke svg-fill" d="M443.136,205.459s-.748-1.684,1.293-5.123a46.418,46.418,0,0,1,2.7-4.253s.835,4.6.126,5.648a33.73,33.73,0,0,1-4.119,3.728Z" transform="translate(-416.51 -170.51)"/>
                             </g>
                             <path id="flameA" class="svg-stroke svg-fill" d="M441.3,206.045s-.592-4.59,3.385-9.647-3.385-8.8-3.385-8.8.75,2.865-4.009,8.017,1.339,10.26,1.339,10.26" transform="translate(-416.51 -170.51)"/>
                         </g>
                         <path id="mask" class="cls-3f svg-stroke svg-fill" d="M-554.355-48.643h-32.66v-.073h-6.494V-80.51h45.65v31.794h-6.5v.072Zm-32.66-.073h32.66v-7.726a16.224,16.224,0,0,0-4.783-11.547,16.222,16.222,0,0,0-11.547-4.783,16.223,16.223,0,0,0-11.547,4.783,16.224,16.224,0,0,0-4.783,11.547v7.726Z" transform="translate(596.425 83.133)"/>
                         <path id="curve" class="cls-1f svg-stroke" d="M718.67,4552.74v-7.69a16.33,16.33,0,1,1,32.66,0v7.8H718.67Z" transform="translate(-709.26 -4518.36)"/>
                         <rect id="base" class="cls-3f svg-stroke svg-fill" width="50.51" height="4.27" transform="translate(0.49 34.61)"/>
                         <rect id="top" class="cls-3f svg-stroke svg-fill" width="50.51" height="4.27" transform="translate(0.49 0.49)"/>
                     </g>
                 </svg>

             </div>

             <div class="amenities-column">
                 <p>MOVIE & KARAOKE ROOM</p>
                 <p>BIKE STORAGE</p>
                 <p>GAME ROOM</p>
                 <p>CURATED EVENTS</p>
                 <p>FLEX SPACE</p>
             </div>

             <div class="svg-column" id="svg-column-4">
                 <svg id="popcorn" data-name="popcorn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.12 48.03">
                     <title>popcorn</title>
                     <g id="AkSfWS">
         
                         <g class="popcornKernel" id="kernel0">
                             <path class="svg-fill-opposite" d="M988.5,4447.47a2.59,2.59,0,1,1-2.59,2.52A2.61,2.61,0,0,1,988.5,4447.47Zm0.12,1A1.52,1.52,0,0,0,987,4450a1.53,1.53,0,0,0,3.06.22A1.51,1.51,0,0,0,988.61,4448.5Z" transform="translate(-973.84 -4447.47)"/>			
                         </g>
         
                         <g class="popcornKernel" id="kernel1">
                             <path class="svg-fill-opposite" d="M977.59,4455.7a2.59,2.59,0,1,1,2.58-2.54A2.61,2.61,0,0,1,977.59,4455.7ZM976,4453a1.51,1.51,0,0,0,1.53,1.6,1.53,1.53,0,0,0,.14-3.06A1.51,1.51,0,0,0,976,4453Z" transform="translate(-973.84 -4447.47)"/>		
                         </g>
         
                         <g class="popcornKernel" id="kernel2">
                         <path class="svg-fill-opposite" d="M999.35,4455.82a2.59,2.59,0,1,1,2.62-2.5A2.62,2.62,0,0,1,999.35,4455.82Zm0.07-1a1.54,1.54,0,0,0,1.49-1.59,1.53,1.53,0,0,0-3.06,0A1.54,1.54,0,0,0,999.41,4454.81Z" transform="translate(-973.84 -4447.47)"/>	
                         </g>
         
                         <path class="svg-stroke svg-fill" d="M978.48,4462.52c0.82-3.48,2.82-4.61,6.31-3.58,2.6-2.68,4.65-2.67,7.35,0,3.42-1,5.38.1,6.26,3.66,3.05,0.73,4.21,2,4,5.21-0.29,3.91-.87,7.81-1.35,11.71-0.59,4.71-1.23,9.42-1.8,14.14a1.18,1.18,0,0,1-1.41,1.23q-9.59-.09-19.19-0.1a1.19,1.19,0,0,1-1.38-1.28c-0.61-5.49-1.25-11-1.87-16.48-0.35-3.09-.79-6.17-1-9.27C974.25,4464.53,975.34,4463.27,978.48,4462.52Z" transform="translate(-973.84 -4447.47)" style="stroke-miterlimit:10;"/>
         
         
         
         
         
         
                     </g>
                     <line class="svg-stroke" x1="0.72" y1="22.55" x2="28.52" y2="22.71" style="fill:none;stroke-miterlimit:10;stroke-width:.75px"/>
                     <line class="svg-stroke" x1="9.83" y1="22.74" x2="9.7" y2="46.88" style="fill:none;stroke-miterlimit:10;stroke-width:.75px;"/>
                     <line class="svg-stroke" x1="18.81" y1="22.79" x2="18.68" y2="46.93" style="fill:none;stroke-miterlimit:10;stroke-width:.75px;"/>
                 </svg>

                 <svg id="games" data-name="games" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.77 39.61">
                     <title>games</title>
                     <g id="UWyOox">
         
                         <g id="xButton">
                             <path class="svg-stroke" d="M988.52,4678.93c-0.4.32-.69,0.52-0.94,0.77q-2.06,2-4.11,4.1c-1,1-1.12,1.69-.44,2.33s1.33,0.48,2.26-.45l1.49-1.49,3.44-3.51c0.26,0.23.39,0.34,0.52,0.47l4.85,4.85a1.27,1.27,0,0,0,2,.12,1.25,1.25,0,0,0-.08-1.95c-0.24-.26-0.5-0.5-0.74-0.75l-4.55-4.56c0.31-.33.54-0.58,0.79-0.83,1.44-1.44,2.89-2.88,4.33-4.33,0.79-.79.88-1.51,0.31-2.11s-1.35-.52-2.19.29l-0.75.75-4.51,4.54a8.46,8.46,0,0,0-.74-1q-2.22-2.26-4.48-4.48a1.31,1.31,0,1,0-1.86,1.84c0.21,0.23.45,0.45,0.67,0.67Z" transform="translate(-982.02 -4670.56)" style="fill:none;stroke-miterlimit:10;"/>
                         </g>
         
                         <g id="circleButton">
                             <path class="svg-stroke" d="M1005.29,4701.16a8.46,8.46,0,1,0,8.44-8.45A8.43,8.43,0,0,0,1005.29,4701.16Z" transform="translate(-982.02 -4670.56)" style="fill:none;stroke-miterlimit:10;"/>		
                         </g>
         
                         <g id="squareButton">
                             <path class="svg-stroke" d="M997.66,4701.2c0-2,0-4.08,0-6.12a1.07,1.07,0,0,0-1.27-1.32q-6.11.06-12.23,0a1,1,0,0,0-1.24,1.22q0,6.17,0,12.34a1,1,0,0,0,1.26,1.21q6.12,0,12.23,0a1,1,0,0,0,1.26-1.22C997.63,4705.27,997.66,4703.24,997.66,4701.2Z" transform="translate(-982.02 -4670.56)" style="fill:none;stroke-miterlimit:10;"/>		
                         </g>
         
                         <g id="triangleButton">
                             <path class="svg-stroke" d="M1013.7,4685.93c2.32,0,4.64,0,7,0,1.17,0,1.39-.38.8-1.41q-3.44-6-6.9-11.94c-0.64-1.1-1-1.11-1.67,0q-3.46,6-6.9,11.94c-0.62,1.07-.4,1.43.86,1.43h6.85Z" transform="translate(-982.02 -4670.56)" style="fill:none;stroke-miterlimit:10;"/>
                         </g>
         
                     </g>
         
                 </svg>
             </div>

        </div>
        
    </div>
     
 </div>
 <!-- .content-container .amenity -->
