<div class="content-container apartment nav-sec" id="apartment">
           
    <div class="container medium-width text-center">
        <div class="apartment-tab">
            <div class="apartment-tab-link active" onclick="apartmentTab(event, 'studio')">Studio</div>
            <div class="apartment-tab-link" onclick="apartmentTab(event, 'one-bed')">1 Bedroom</div>
            <div class="apartment-tab-link" onclick="apartmentTab(event, 'two-bed')">2 Bedroom</div>
        </div>
        
        <div class="apartment-content" id="studio" style="display: block; min-height: 687px;">
            <span>Starting From</span>
            <h6>$1,135 – $1,570</h6>
            <div class="apartment-content-gallery">
                <div class="apartment-content-gallery-cell" style="height: 499.469px;">
                    <img src="images/LunaonPine-ST-2-Standard-R1.png" alt="Luna on Pine Floorplan">
                </div>
                <div class="apartment-content-gallery-cell">
                    <img src="images/LunaonPine-ST-3-Standard.png" alt="Luna on Pine Floorplan">
                </div>
                <div class="apartment-content-gallery-cell">
                    <img src="images/LunaonPine-ST-7-Standard-R1.png" alt="Luna on Pine Floorplan">
                </div>
            </div>
        </div>
        <div class="apartment-content" id="one-bed">
            <span>Starting From</span>
            <h6>$1,685 – $1,735</h6>
            <div class="apartment-content-gallery">
                <div class="apartment-content-gallery-cell">
                    <img src="images/LunaonPine-S-1-Standard-R1.png" alt="Luna on Pine Floorplan">
                </div>
                <div class="apartment-content-gallery-cell">
                    <img src="images/LunaonPine-ST-7-Standard-R1.png" alt="Luna on Pine Floorplan">
                </div>
            </div>
        </div>
        <div class="apartment-content" id="two-bed">
            <span>Starting From</span>
            <h6>$2,295 – $2,600</h6>
            <div class="apartment-content-gallery">
                <div class="apartment-content-gallery-cell">
                    <img src="images/LunaonPine-D-1-Standard-R1.png" alt="Luna on Pine Floorplan">
                </div>
            </div>
        </div>
     </div>
     <div class="container medium-width text-center">
        <div class="btn"><a href="images/LunaonPine_Floorplans.pdf" target="_blank">Download Floorplan</a></div>
     </div>
 </div>
 <!-- .content-container .apartment -->
