<div class="content-container introduction" id="introduction">
           
    <div class="container xlarge-width">
        
        <div class="content-block">
            <div class="intro-img-hold intro-item">
             <img src="images/luna-tenant-lookingBack.png" alt="Luna Tenant Looking Back">
            </div>
            
            {% if page.introduction_callout_1 %}
            <div class="intro-text-copy intro-item">
                <h2>{{ page.introduction_callout_1.title }}</h2>
                <h6>{{ page.introduction_callout_1.sub_title }}</h6>
                <p>{{ page.introduction_callout_1.body }}</p>
             
            </div>
            {% endif %}
            
        </div>
        
        <div class="content-block">

             <div class="intro-img-hold intro-item">
                     <img src="images/luna-room.png" alt="A Room in Luna">
             </div>

             <div class="intro-text-copy intro-item">
                 <h2>Come Home<br /> to a Place That<br /> Illuminates You</h2>
                 <div class="btn"><a href="http://www.equinoxmc.com/apply" target="_blank">Apply Now</a></div>
             </div>

         
        </div>
        
        <div class="content-block">
             <div class="intro-img-hold intro-item">
                 <img src="images/luna-tenant-doing-work.jpg" alt="Luna Tenant Doing Work">
                 <br><br>
                 <h6>UNIT FEATURES</h6>
                 <ul>
                     <li>Pet-Friendly units</li>
                     <li>Fully furnished units</li>
                     <li>Short-term/flexible lease terms</li>
                     <li>In-unit washer & dryer</li>
                     <li>Electronic keypad lock</li>
                 </ul>
             </div>

            {% if page.introduction_callout_1 %}
            <div class="intro-text-copy intro-item">
                <h2>{{ page.introduction_callout_1.title }}</h2>
                <h6>{{ page.introduction_callout_1.sub_title }}</h6>
                <p>{{ page.introduction_callout_1.body }}</p>
                <br><div class="btn"><a href="images/LunaonPine_Floorplans.pdf" target="_blank">Download Floorplan</a></div>
            </div>
            {% endif %}

        </div>
        
    </div>
    <!-- .container -->
    
    <div class="container large-width">
        
        <div class="content-block intro-kitchen">
            <div class="intro-kitchen_img">
                <img src="images/luna-kitchen.jpg" alt="Luna on pine philadelphia kitchen">
            </div>
            <div class="intro-kitchen-copy">
                 <h6>Full Kitchen</h6>
                 <h3>1.</h3>
                 <p>
                 Designer-selected cabinetry, hardware, fixtures, and finishes</p>
                 <h3>2.</h3>
                 <p>
                 Modern recessed lighting &amp; under-cabinet kitchen lighting</p>
                 <h3>3.</h3>
                 <p>
                 Complete appliance package with fridge and freezer, dishwasher, electric cooktop, &amp; convection microwave oven.</p>
            </div>
        </div>
        
    </div>
    <!-- .container -->
     
 </div>
 <!-- .content-container .introduction -->
