<div class="content-container introduction" id="introduction">
           
    <div class="container xlarge-width">
        
        <div class="content-block">
            <div class="intro-img-hold intro-item">
             <img src="images/luna-tenant-lookingBack.png" alt="Luna Tenant Looking Back">
            </div>
            
            <div class="intro-text-copy intro-item">
                <h2>You Have<br /> Big Dreams</h2>
                <h6>MAKE THEM HAPPEN AT LUNA</h6>
                <p>Luna is an apartment building located near UPenn and designed to inspire those within it. Imagine late-night study sessions that lead to groundbreaking discoveries, rooftop stargazing that ignites innovation, and next door neighbors who challenge your way of thinking.</p>
             
            </div>
            
        </div>
        
        <div class="content-block">

             <div class="intro-img-hold intro-item">
                     <img src="images/luna-room.png" alt="A Room in Luna">
             </div>

             <div class="intro-text-copy intro-item">
                 <h2>Come Home<br /> to a Place That<br /> Illuminates You</h2>
                 <div class="btn"><a href="http://www.equinoxmc.com/apply" target="_blank">Apply Now</a></div>
             </div>

         
        </div>
        
        <div class="content-block">
             <div class="intro-img-hold intro-item">
                 <img src="images/luna-tenant-doing-work.jpg" alt="Luna Tenant Doing Work">
                 <br><br>
                 <h6>UNIT FEATURES</h6>
                 <ul>
                     <li>Pet-Friendly units</li>
                     <li>Fully furnished units</li>
                     <li>Short-term/flexible lease terms</li>
                     <li>In-unit washer & dryer</li>
                     <li>Electronic keypad lock</li>
                 </ul>
             </div>

             <div class="intro-text-copy intro-item">
                 <h2>Find Clarity</h2>
                 <h6>APARTMENTS</h6>
                 <p>Life is hectic, and finding a quiet place to crash or study for a few hours is essential. Luna’s studio, 1-bedroom, and 2-bedroom apartments for rent are designed to offer the privacy you need to get the job done. Choose from fully-furnished, unfurnished, and pet-friendly units and make Luna your peaceful escape. </p>
                 <br><div class="btn"><a href="images/LunaonPine_Floorplans.pdf" target="_blank">Download Floorplan</a></div>
             </div>

        </div>
        
    </div>
    <!-- .container -->
    
    <div class="container large-width">
        
        <div class="content-block intro-kitchen">
            <div class="intro-kitchen_img">
                <img src="images/luna-kitchen.jpg" alt="Luna on pine philadelphia kitchen">
            </div>
            <div class="intro-kitchen-copy">
                 <h6>Full Kitchen</h6>
                 <h3>1.</h3>
                 <p>
                 Designer-selected cabinetry, hardware, fixtures, and finishes</p>
                 <h3>2.</h3>
                 <p>
                 Modern recessed lighting &amp; under-cabinet kitchen lighting</p>
                 <h3>3.</h3>
                 <p>
                 Complete appliance package with fridge and freezer, dishwasher, electric cooktop, &amp; convection microwave oven.</p>
            </div>
        </div>
        
    </div>
    <!-- .container -->
     
 </div>
 <!-- .content-container .introduction -->
