<div class="content-container neighborhood nav-sec" id="neighborhood">
    <div class="container xlarge-width">
     <div class="content-block">
         <div class="neighborhood-img-hold neighborhood-item">
          <h2>Step outside to the vibrancy of University City’s 40th Street corridor </h2>
          <img src="images/luna-tenants-outdoors.png" alt="Luna Tenants Outdoors">
          
         </div>
         
         <div class="neighborhood-text-copy neighborhood-item">
             <h2>Find Everything<br /> Else</h2>

             <div id="neighborhood-text-title" class="neighborhood-text">
                 <h6>NEIGHBORHOOD</h6>
                 <p>Campus, rotations, parks, brunch, happy hour—it’s all within walking distance. Plus, with six trolley lines and the Market-Frankford subway station nearby, you can travel anywhere in Philadelphia with ease.</p>
                     
             </div>
             
             <div id="neighborhood-proximity-text" class="neighborhood-text">
                 <h3>Proximity</h3>
                     <p>
                         <strong>7 min</strong>
                         <br>
                         <span>walk to campus</span>
                         
                         
                     </p>

                     <p>
                         <strong>20 min</strong>
                         <br>
                         <span>trip to center city</span>
                         
                         
                     </p>

                     <p>
                         <strong>12 min</strong>
                         <br>
                         <span>bike to 30th St. Station</span>
                         
                         
                     </p>
             </div>

         </div>
         
     </div>
    </div>

     <div class="container large-width neighborhood-map">
         <div class="content-block">
             <div class="neighborhood-map-nav">
                 <div class="neighborhood-map-nav-time time-day">
                     <h2>Day</h2>
                     <h2>Night</h2>
                 </div>
                 <div class="neighborhood-map-nav-cat">
                     <nav id="menu" class="menu-day"></nav>
                 </div>
             </div>
             <div class="map_wrap">
                 <div id="map" style="width:100%; height: 500px;"></div>
             </div>
         </div>
     </div>
     
 </div>
 <!-- .content-container .neighborhood -->
