---
layout: default
---

{% for block in page.page_sections %}

    {% assign template = block.template %}
    {% case template%}
    
    {% when 'introduction' %}

        {% include section/introduction.html %}

    {% when 'apartment' %}

        {% include section/apartments.html %}

    {% when 'amenity' %}

        {% include section/amenities.html %}

    {% when 'neighborhood' %}

        {% include section/neighborhood.html %}

    {% when 'contact' %}

        {% include section/contact.html %}

    {% endcase %}
{% endfor %}